# Projenin Python bağımlılık listesi.
Django>=5.0,<6.0
segno>=1.6.1
Pillow>=10.0.0
opencv-python>=4.9.0.80
numpy>=1.26.0
pyzbar>=0.1.9
requests>=2.31.0
qrcode[pil]>=7.4.2
PyMuPDF>=1.27.2
zxing-cpp>=3.0.0
